.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #fff;
}

.text {
  font-size: 20px;
  font-weight: 600;
  color: #131318;
}
